<%= partial "partials/head" %>
    <body class="<%= page_classes %>">
        <%= partial "partials/header" %>
        <section>
            <div class="grid">
                <article class="post--featured">
                    <div class="content">
                        <img src="/assets/img/profiles/prof-<%= current_page.data.author %>.png" class="profile-picture">
                        <h1 class="title"><%= current_page.data.title %></h1>
                        <div class="author-information">
                            <ul>
                                <li><%= current_page.data.author_full %></li>
                                <li>&#8226;</li>
                                <li><span><%= current_page.data.date.strftime('%B %d, %Y') %></span></li>
                                <li><%=current_page.data.author_alt %></li>
                            </ul>
                        </div>
                        <div class="full-post">
                            <%= yield %>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <%= partial "partials/footer" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "main" %>
    </body>
</html>
