<%= partial "partials/head" %>
    <body class="<%= page_classes %>">
        <%= partial "partials/header" %>
        <div class="grid">
            <div class="main-posts">
                <div class="post">
                    <header>
                        <h1 class="title">
                            <%= current_page.data.title %>
                        </h1>
                        <!-- <div class="meta">
                            <ul class="tags">
                                <li><%= current_page.data.tags %></li>
                            </ul>
                        </div> -->
                        <div class="author">
                            <div class="prof">
                                <img src="/assets/img/profiles/prof-<%= current_page.data.author %>.png">
                                <div class="author-name"><%= current_page.data.author_full %></div>
                                <div class="date"><%= current_page.data.date %></div>
                                <span class="guest-author"><%= current_page.data.author_alt %></span>
                            </div>
                        </div>
                    </header>
                    <%= yield %>
                </div>
            </div>
            <!-- Give me an article to read -->
            <% prev_article = current_article.previous_article %>
            <% if prev_article %>
                <a class="button-more" href="<%= prev_article.url %>" rel="prev" title="Previous article: <%= prev_article.title %>">
                    <i class="fa fa-chevron-right"></i> <%= prev_article.title %>
                </a>
            <% end %>
            <% next_article = current_article.next_article %>
            <% if next_article %>
                <a class="button-more" href="<%= next_article.url %>" rel="next" title="Next article: <%= next_article.title %>">
                    <i class="fa fa-chevron-right"></i> <%= next_article.title %>
                </a>
            <% end %>
        </div>
        <%= partial "partials/footer" %>
        <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", "main" %>
    </body>
</html>
